apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s

    scrape_configs:
      - job_name: 'daily-hidayah-api'
        static_configs:
          - targets: ['daily-hidayah-service:80']
