replicaCount: 2

image:
  repository: daily-hidayah-api
  pullPolicy: IfNotPresent
  tag: "latest"

service:
  type: NodePort
  port: 80

resources:
  requests:
    memory: "64Mi"
    cpu: "250m"
  limits:
    memory: "128Mi"
    cpu: "500m"
